<div class="col-lg-6">
   <div class="input-group">
     <label for ="zip"></label>
     {{input type="number" class="form-control" min="97001" max="97920" placeholder="Enter a Zip Code" value=zip id="zip"}}
     <span class="input-group-btn">
       <label for="button"> </label>
       <button class="btn btn-default" type="button">Go!</button>
     </span>
   </div><!-- /input-group -->
 </div><!-- /.col-lg-6 -->
